@import './normalize.css';
@import './header.css';
@import './main.css';
@import './footer.css';

:root {
    --primary-color: #7b9acc;
    --secondary-color: #FCF6F5;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}