main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

section {
    margin-top: calc(1.2vw + 1.2vh + 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0 0 1rem 0;
    font-size: calc(1.2vw + 1.2vh + 0.5rem);
}

#task-input {
    padding: 0.3rem;
    width: calc(20vw + 20vh + 5rem);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
}

#task-input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

#form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#save {
    font-size: calc(1.2vw + 1.2vh + 0.5rem);
}

#save:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.ram {
    font-size: calc(1vw + 1vh + 0.5rem);
    flex-grow: 0;
}

.task-text {
    font-size: calc(1vw + 1vh + 0.5rem);
    flex-grow: 1;
    max-width: calc(15vw + 15vh + 5rem);
}

.remove {
    font-size: calc(1.2vw + 1.2vh + 0.5rem);
    cursor: pointer;
    margin-left: 1rem;
    flex-grow: 0;
}

.remove:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#remove-1:hover ~ #task-1 {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.removed-item {
    animation-duration: 0.9s;
    animation-fill-mode: both;
    animation-name: running-ram;
}

@keyframes running-ram {
    0% {
        opacity: 1;
    }
    25% {
        transform: rotate(30deg) scale(3);
    }
    100% {
        opacity: 0;
        transform: translatex(-20rem);
    }
}